html, body, #root, #app  {
  height: 100%;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
}

.statuscard {
  box-shadow: silver 5px 5px 10px;
  min-width: 500px;
}

.page {
  flex: auto;
  padding-top: 20px;
}
