@error-colour: red;

.navbar {
  .navbar-brand {
    cursor: pointer;
  }

  .avatar {
    border-radius: 2px;
    height: 22px;
    margin-right: 5px;
    width: 22px;
  }

  .logout {
    color: @error-colour;

    &:hover {
      color: @error-colour;
    }
  }

}
