.repositories {
  display: flex;
  flex-wrap: wrap;

  .selected-installation {
    align-items: center;
    display: flex;

    span {
      margin-right: 5px;
    }

    .badge {
      cursor: pointer;
      height: 20px;
      display: inline-flex;
    }
  }

  .repository {
    margin: 5px;
    width: 300px;
    min-height: 200px;

    .badge {
      margin-right: 5px;
    }

    .card-body {
      display: flex;
      flex-direction: column;

      .description {
        flex: auto;
      }
    }
  }
}
